#mainDiv{
    width: 350px;
    height: fit-content;
    border: 1px solid rgb(204, 200, 200, 0.2);
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 2px 15px 5px gray;
    background-color:rgb(204, 200, 200, 0.8);
    color: #162938;
}

.login-body{
    background-image: url('../assets/income.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#input{
    margin-top: 5px;
    border: none;
    border-radius: 0%;
    background-color: transparent;
    border-bottom: 1px solid #162938;
    outline: #f5f5f5;
    outline-offset: 0px;
}

#input:focus{
    box-shadow: none;
    border-bottom: 1px solid #162938;
}

#btn{
    width:100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

#btn:hover{
    border: 2px solid black;
    font-weight: 500;
    background-color: transparent;
    color: black;
}