body{
    background-color: aliceblue;
}

.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; 
}

.admin-page .container{
    padding-top: 80px;
}